<md-card>
    <md-card-content>
        <md-menu #thingMenu="mdMenu">
            <cstl-modal 
                [selectedItem]="thing" 
                [modalText]="'Edit'" 
                (modalResult)="processModalResult($event)" 
                [modalType]="modalTypes.THING">
            </cstl-modal>
            <br/>
            <cstl-modal 
                [selectedItem]="thing" 
                [modalText]="'Delete'" 
                (modalResult)="deleteThing($event)" 
                [modalType]="modalTypes.DELETE">
            </cstl-modal>
            <br/>
        </md-menu>
        <button md-icon-button [mdMenuTriggerFor]="thingMenu"><md-icon>more_vert</md-icon></button>
        <span>{{thing.name}} ({{(thingType$ | async)?.name}})</span>
    </md-card-content>
</md-card>