<md-card>
    <md-card-title>
        <md-card-title>
            <md-menu #roomMenu="mdMenu">
                    <cstl-modal 
                        [selectedItem]="room" 
                        [modalText]="'Edit'"
                        (modalResult)="processModalResult($event)" 
                        [modalType]="modalTypes.ROOM">
                    </cstl-modal>
                    <br/>
                    <cstl-modal 
                        [selectedItem]="room" 
                        [modalText]="'Delete'"
                        (modalResult)="deleteRoom($event)" 
                        [modalType]="modalTypes.DELETE">
                    </cstl-modal>
                    <br/>
                    <cstl-modal 
                        [selectedParent]="room" 
                        [modalText]="'Add a thing'"
                        (modalResult)="processModalResult($event)" 
                        [modalType]="modalTypes.THING">
                    </cstl-modal>
            </md-menu>
            <button md-icon-button [mdMenuTriggerFor]="roomMenu"><md-icon>more_vert</md-icon></button>
            <span>{{room.name}}</span>
        </md-card-title>
    </md-card-title>
    <md-card-content *ngIf="(things$ | async)?.length === 0">
        <p style="padding-left: 20px">No Things found!</p>
    </md-card-content>
    <md-card-content *ngFor="let currThing of things$ | async">
        <cstl-thing [thing]="currThing"></cstl-thing>
    </md-card-content>
</md-card>