<h1>
  Welcome to Castle!
</h1>
<h2>
  Castle is a Internet of Things application for setting up and configuring household sensors and devices.
</h2>
<p>
  To begin, choose 'Sensor Setup'' from the menu (the <i class="material-icons app-toolbar-menu">menu</i> icon up top). The setup your castle by defining:
  <ol>
    <li>Keeps: A keep represents an area of your domain. For example, a floor in your house, an external toolshed, or a porch. </li>
    <li>Rooms: Each Keep will need at least one Room for storing devices.</li>
    <li>Devices: Define each Device in a Room.</li>
  </ol>


