<h1>
  Welcome to Castle!
</h1>
<h2>
  Castle is an Internet of Things application for setting up and configuring household sensors and devices.
</h2>
<p>
  To begin, choose 'Sensor Setup'' from the menu (the <i class="material-icons app-toolbar-menu">menu</i> icon up top). The
  setup your castle by defining:
</p>
<ol>
  <li>Define your Keeps. A keep represents an area of your domain. For example, a floor in your house, an external toolshed, or a porch.</li>
  <li>Specify the layout of your Keeps Each Keep will need at least one Room for storing devices.</li>
  <li>Add Devices to a Keeps Room.</li>
</ol>
<p>
  At some point in the future this page will be a dashboard with graphs and charts showing the status of devices.
</p>