<md-toolbar>{{room.id ? 'Edit' : 'Add' }} a Room</md-toolbar>
<div style="padding-top:20px;">
    <form [formGroup]="roomForm">
        <md-input-container>
            <input mdInput dividerColor="accent" placeholder="Room Name" formControlName="name">
        </md-input-container>
    </form>
</div>
<div style="padding-top: 20px">
    <button md-raised-button (click)="close()">{{room.id ? 'Edit' : 'Add' }}</button>
    <button md-raised-button (click)="close(false)">Cancel</button>
</div>