<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  <a class="plainanchor" [routerLink]="['']">{{title}}</a>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <ul>
      <li><a [routerLink]="['']" (click)="toggleNav(sidenav)">Home</a></li>
      <li><a [routerLink]="['room']" (click)="toggleNav(sidenav)">Rooms</a></li>
      <li><a [routerLink]="['settings']" (click)="toggleNav(sidenav)">Settings</a></li>
    </ul>
  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>