<md-tab-group md-dynamic-height="false">
    <md-tab *ngFor="let currKeep of keeps$ | async" label={{currKeep.name}}>
        <cstl-keep [selectedKeep]="currKeep"></cstl-keep>
    </md-tab>
    <md-tab label="Add a Keep">
        <cstl-modal 
                    [selectedParent]="selectedKeep" 
                    [modalText]="'Click to add'" 
                    (modalResult)="processResult($event)" 
                    [modalType]="modalTypes.KEEP"></cstl-modal>
    </md-tab>
</md-tab-group>